body{
    background-color: #f9f9f9;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.text button{
    background-color: #0b416d;
    color: #fafafa;
    font-size: 20px;
    width: 250px;
    height: 80px;
}
.text button:hover{
    background-color: #242424;
}
.text img{
    width: 500px;
    height: 350px;
}
.tel a {
    position: relative;
}
.tel a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 28px;
    background-image: url(../img/receiver.png);
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
}
.header-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email a::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 19px;
    background-image: url(../img/mail.png);
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
}
.email a{
    position: relative;
}
.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    transform:rotate(180deg) ;
}
.burger span{
    width: 30px;
    height: 4px;
    background-color: #242424;
}
.burger span:nth-child(2){
    width: 16px;
}
.maps p:before{
    content: '';
    position: absolute;
    width: 18px;
    height: 27px;
    background-image: url(../img/maps.png);
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
}
.maps p{
    position: relative;
}
.text a{
    text-decoration: none;
    color: #060606;
}